
/* //////////////////red /////////////////////////*/


.navbar-inner {
    background-color: #583937;
}

/* #bulletin_Board */
#bulletin_Board .body .tabs > li > a {
    border: 1px solid #ddd;
    border-top: 2px solid #ddd;
    border-bottom-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

    #bulletin_Board .body .tabs > li > a:hover {
        border-top: 2px solid #583937;
    }

#bulletin_Board .body .tabs .active > a,
#bulletin_Board .body .tabs .active > a:hover {
    border-top: 2px solid #FFC000;
    border-bottom-color: transparent;
}

.tabs > li > a,
.tabs .active > a,
a {
    color: #583937;
}

    .tabs > li > a:hover,
    .tabs .active > a:hover,
    a:hover {
        color: #C98345;
    }

    .tabs .active > a, .tabs .active > a:hover {
        border-top: 4px solid #C98345;
    }

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background: #C98345;
}

#header, header #header,
.content {
    background: #E8D3C1;
}
    #header .banner, header #header .banner {
        height: 93px;
    }
.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background: #C98345;
}
    .nav > li > a:hover {
color: #C98345;
background-color: #fcfcfc;
}
#live_schedule .nav-pills > li.active > a,
#live_schedule .nav-pills > li > a:active,
#live_schedule .nav-pills > li > a:hover,
#live_schedule .nav-tabs > li.active > a,
#live_schedule .nav-tabs > li > a:active,
.live_schedule .nav-tabs > li > a:hover {
    background: #C98345;
}

#live_schedule .nav-tabs {
    border-bottom: 3px solid #C98345;
}

.box .head {
    background: #C98345 url("img/images/box_head_bg_red.png") repeat;
}

.mbox .head .title {
    background: url("img/images/box_head_red.png") no-repeat right center;
}

.nav-list > li > a:hover,
.nav-list > .active > a,
.nav-list > .active > a:hover {
    background-color: #FFC000;
    /*background: url('img/images/subNav_icon.png') no-repeat left top;*/
}

.nav-list > li > a {
    border-left: 5px solid #fff;
}
    .nav-list > li > a:hover,
    .nav-list > .active > a ,
    .nav-list > .active > a:hover  {
        border-left: 5px solid #C98345;
    }

.logafter {
    color:#fcfcfc;
}
    .logafter a {
        color: #fff;
    }
.navbar-search .search-query {
    border: 1px solid #583937;
}
.control_add .btn-add, .sub_comment input[type="button"] {
    background: #583937;
}