<div class="row">
  <div class="span16">
    <div class="row">
      <div class="span16">
        <div class="breadcrumb">
          <span><a href="http://localhost:15148/index.html" title="首页">首页</a> &gt;</span> <span class="active"><a title="专辑资源">专辑资源</a></span>
        </div>
      </div><!-- /span16 -->
    </div>
  </div><!-- /span16 -->
</div><!-- /row -->
<div class="row">
  <div class="span10">
    <div class="box mbox">
      <div class="head">
        <div class="title">
          <a href="http://localhost:15148/album_y2416260730eb4ae0a7fc6d6d8cd25c02_s10.html" title="专家讲座" class="blue">专家讲座</a>
        </div>
        <div class="more">
          <a href="http://localhost:15148/album_y2416260730eb4ae0a7fc6d6d8cd25c02_s10.html" title="更多..." class="blue">更多...</a>
        </div>
      </div>
      <div class="videolist videolist-heng body clearfix">
        <ul>
          <li>
            <div class="vediodiv">
              <a href="http://localhost:15148/albumview_b9605448b3fd4056b7e392dd7985b6ff.html" title="各科目中考重点解答集" target="_blank"><img src="http://localhost:15148/CSS/zh-CN/DefaultTheme/DefaultImg.png" title="各科目中考重点解答集" onerror="try{this.src=&quot;http://localhost:15148/CSS/zh-CN/DefaultTheme/DefaultImg.png&quot;}catch(ex){};" style="width: 214px; height: 120px;"></a>
            </div>
            <div class="clear"></div>
            <p class="ttle">
              <a href="http://localhost:15148/albumview_b9605448b3fd4056b7e392dd7985b6ff.html" title="各科目中考重点解答集" target="_blank">各科目中考重点解答集</a>
            </p>
            <p class="viewcounts">
              <a href="http://localhost:15148/show/GZ_jingling.html" title="教育视频网">老师</a>
            </p>
            <p class="author">
              教育视频网
            </p>
          </li>
          <li>
            <div class="vediodiv">
              <a href="http://localhost:15148/albumview_91222eb0ce7741268da5af78296c709a.html" title="高速发展的信息技术" target="_blank"><img src="http://localhost:15148/CSS/zh-CN/DefaultTheme/DefaultImg.png" title="高速发展的信息技术" onerror="try{this.src=&quot;http://localhost:15148/CSS/zh-CN/DefaultTheme/DefaultImg.png&quot;}catch(ex){};" style="width: 214px; height: 120px;"></a>
            </div>
            <div class="clear"></div>
            <p class="ttle">
              <a href="http://localhost:15148/albumview_91222eb0ce7741268da5af78296c709a.html" title="高速发展的信息技术" target="_blank">高速发展的信息技术</a>
            </p>
            <p class="viewcounts">
              <a href="http://localhost:15148/show/GZ_jiaoyanyuan.html" title="教育视频网">教研员</a>
            </p>
            <p class="author">
              教育视频网
            </p>
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
        </ul>
      </div>
      <div class="clearFloat"></div>
    </div>
  </div><!-- /span16 -->
  <div class="span6">
    <div class="box mbox">
      <div class="head">
        <div class="title">
          <a href="http://localhost:15148/album_y2416260730eb4ae0a7fc6d6d8cd25c02_s17.html" title="热门播放" class="blue">热门播放</a>
        </div>
        <div class="more">
          <a href="http://localhost:15148/album_y2416260730eb4ae0a7fc6d6d8cd25c02_s17.html" title="更多...">更多...</a>
        </div>
      </div>
      <div class="videolist videolist-heng body clearfix">
        <ul>
          <li>
            <div class="vediodiv">
              <a href="http://localhost:15148/albumview_b9605448b3fd4056b7e392dd7985b6ff.html" title="各科目中考重点解答集" target="_blank"><img src="http://localhost:15148/CSS/zh-CN/DefaultTheme/DefaultImg.png" title="各科目中考重点解答集" onerror="try{this.src=&quot;http://localhost:15148/CSS/zh-CN/DefaultTheme/DefaultImg.png&quot;}catch(ex){};" style="width: 140px; height: 88px;"></a>
            </div>
            <div class="description">
              <p class="colr2 ttle">
                <a href="http://localhost:15148/albumview_b9605448b3fd4056b7e392dd7985b6ff.html" title="各科目中考重点解答集" target="_blank">各科目中考重点解答集</a>
              </p>
              <p class="viewcounts">
                <a href="http://localhost:15148/show/GZ_jingling.html" title="教育视频网">老师</a>
              </p>
              <p class="author">
                <a href="http://192.168.2.29:9091" title="教育视频网" target="_blank">教育视频网</a>
              </p>
            </div>
          </li>
          <li>
            <div class="vediodiv">
              <a href="http://localhost:15148/albumview_91222eb0ce7741268da5af78296c709a.html" title="高速发展的信息技术" target="_blank"><img src="http://localhost:15148/CSS/zh-CN/DefaultTheme/DefaultImg.png" title="高速发展的信息技术" onerror="try{this.src=&quot;http://localhost:15148/CSS/zh-CN/DefaultTheme/DefaultImg.png&quot;}catch(ex){};" style="width: 140px; height: 88px;"></a>
            </div>
            <div class="description">
              <p class="colr2 ttle">
                <a href="http://localhost:15148/albumview_91222eb0ce7741268da5af78296c709a.html" title="高速发展的信息技术" target="_blank">高速发展的信息技术</a>
              </p>
              <p class="viewcounts">
                <a href="http://localhost:15148/show/GZ_jiaoyanyuan.html" title="教育视频网">教研员</a>
              </p>
              <p class="author">
                <a href="http://192.168.2.29:9091" title="教育视频网" target="_blank">教育视频网</a>
              </p>
            </div>
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
        </ul>
      </div>
      <div class="clearFloat"></div>
    </div>
  </div><!-- /span -->
</div>
<div class="row">
  <div class="span10">
    <div class="box mbox">
      <div class="head">
        <div class="title">
          <a href="http://localhost:15148/album_y9bbb656dcbf04062b2494d675d687e57_s10.html" title="名优教师课例" class="blue">名优教师课例</a>
        </div>
        <div class="more">
          <a href="http://localhost:15148/album_y9bbb656dcbf04062b2494d675d687e57_s10.html" title="更多..." class="blue">更多...</a>
        </div>
      </div>
      <div class="videolist videolist-heng body clearfix">
        <ul>
          <li>
            <div class="vediodiv">
              <a href="http://localhost:15148/albumview_04419fe3c1bc4aee9e33e81dfc1bdf71.html" title="学习拼音" target="_blank"><img src="http://localhost:15148/CSS/zh-CN/DefaultTheme/DefaultImg.png" title="学习拼音" onerror="try{this.src=&quot;http://localhost:15148/CSS/zh-CN/DefaultTheme/DefaultImg.png&quot;}catch(ex){};" style="width: 214px; height: 120px;"></a>
            </div>
            <div class="clear"></div>
            <p class="ttle">
              <a href="http://localhost:15148/albumview_04419fe3c1bc4aee9e33e81dfc1bdf71.html" title="学习拼音" target="_blank">学习拼音</a>
            </p>
            <p class="viewcounts">
              <a href="http://localhost:15148/show/GZ_jingling.html" title="教育视频网">老师</a>
            </p>
            <p class="author">
              教育视频网
            </p>
          </li>
          <li>
            <div class="vediodiv">
              <a href="http://localhost:15148/albumview_7a0be5b4c16c4d4c85365b2fb26800fa.html" title="绘画技巧" target="_blank"><img src="http://localhost:15148/CSS/zh-CN/DefaultTheme/DefaultImg.png" title="绘画技巧" onerror="try{this.src=&quot;http://localhost:15148/CSS/zh-CN/DefaultTheme/DefaultImg.png&quot;}catch(ex){};" style="width: 214px; height: 120px;"></a>
            </div>
            <div class="clear"></div>
            <p class="ttle">
              <a href="http://localhost:15148/albumview_7a0be5b4c16c4d4c85365b2fb26800fa.html" title="绘画技巧" target="_blank">绘画技巧</a>
            </p>
            <p class="viewcounts">
              <a href="http://localhost:15148/show/GZ_jiaoyanyuan.html" title="教育视频网">教研员</a>
            </p>
            <p class="author">
              教育视频网
            </p>
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
        </ul>
      </div>
      <div class="clearFloat"></div>
    </div>
  </div><!-- /span16 -->
  <div class="span6">
    <div class="box mbox">
      <div class="head">
        <div class="title">
          <a href="http://localhost:15148/album_y9bbb656dcbf04062b2494d675d687e57_s17.html" title="热门播放" class="blue">热门播放</a>
        </div>
        <div class="more">
          <a href="http://localhost:15148/album_y9bbb656dcbf04062b2494d675d687e57_s17.html" title="更多...">更多...</a>
        </div>
      </div>
      <div class="videolist videolist-heng body clearfix">
        <ul>
          <li>
            <div class="vediodiv">
              <a href="http://localhost:15148/albumview_7a0be5b4c16c4d4c85365b2fb26800fa.html" title="绘画技巧" target="_blank"><img src="http://localhost:15148/CSS/zh-CN/DefaultTheme/DefaultImg.png" title="绘画技巧" onerror="try{this.src=&quot;http://localhost:15148/CSS/zh-CN/DefaultTheme/DefaultImg.png&quot;}catch(ex){};" style="width: 140px; height: 88px;"></a>
            </div>
            <div class="description">
              <p class="colr2 ttle">
                <a href="http://localhost:15148/albumview_7a0be5b4c16c4d4c85365b2fb26800fa.html" title="绘画技巧" target="_blank">绘画技巧</a>
              </p>
              <p class="viewcounts">
                <a href="http://localhost:15148/show/GZ_jiaoyanyuan.html" title="教育视频网">教研员</a>
              </p>
              <p class="author">
                <a href="http://192.168.2.29:9091" title="教育视频网" target="_blank">教育视频网</a>
              </p>
            </div>
          </li>
          <li>
            <div class="vediodiv">
              <a href="http://localhost:15148/albumview_04419fe3c1bc4aee9e33e81dfc1bdf71.html" title="学习拼音" target="_blank"><img src="http://localhost:15148/CSS/zh-CN/DefaultTheme/DefaultImg.png" title="学习拼音" onerror="try{this.src=&quot;http://localhost:15148/CSS/zh-CN/DefaultTheme/DefaultImg.png&quot;}catch(ex){};" style="width: 140px; height: 88px;"></a>
            </div>
            <div class="description">
              <p class="colr2 ttle">
                <a href="http://localhost:15148/albumview_04419fe3c1bc4aee9e33e81dfc1bdf71.html" title="学习拼音" target="_blank">学习拼音</a>
              </p>
              <p class="viewcounts">
                <a href="http://localhost:15148/show/GZ_jingling.html" title="教育视频网">老师</a>
              </p>
              <p class="author">
                <a href="http://192.168.2.29:9091" title="教育视频网" target="_blank">教育视频网</a>
              </p>
            </div>
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
        </ul>
      </div>
      <div class="clearFloat"></div>
    </div>
  </div><!-- /span -->
</div>
<div class="row">
  <div class="span10">
    <div class="box mbox">
      <div class="head">
        <div class="title">
          <a href="http://localhost:15148/album_y261f5d9b48664ce1ba596d579b0a043e_s10.html" title="家长学堂" class="blue">家长学堂</a>
        </div>
        <div class="more">
          <a href="http://localhost:15148/album_y261f5d9b48664ce1ba596d579b0a043e_s10.html" title="更多..." class="blue">更多...</a>
        </div>
      </div>
      <div class="videolist videolist-heng body clearfix">
        <ul>
          <li>
            <div class="vediodiv">
              <a href="http://localhost:15148/albumview_b8fa962a73304c87a50896961d8c9990.html" title="家校沟通会记实录" target="_blank"><img src="http://localhost:15148/CSS/zh-CN/DefaultTheme/DefaultImg.png" title="家校沟通会记实录" onerror="try{this.src=&quot;http://localhost:15148/CSS/zh-CN/DefaultTheme/DefaultImg.png&quot;}catch(ex){};" style="width: 214px; height: 120px;"></a>
            </div>
            <div class="clear"></div>
            <p class="ttle">
              <a href="http://localhost:15148/albumview_b8fa962a73304c87a50896961d8c9990.html" title="家校沟通会记实录" target="_blank">家校沟通会记实录</a>
            </p>
            <p class="viewcounts">
              <a href="http://localhost:15148/show/GZ_jiaoyanyuan.html" title="教育视频网">教研员</a>
            </p>
            <p class="author">
              教育视频网
            </p>
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
        </ul>
      </div>
      <div class="clearFloat"></div>
    </div>
  </div><!-- /span16 -->
  <div class="span6">
    <div class="box mbox">
      <div class="head">
        <div class="title">
          <a href="http://localhost:15148/album_y261f5d9b48664ce1ba596d579b0a043e_s17.html" title="热门播放" class="blue">热门播放</a>
        </div>
        <div class="more">
          <a href="http://localhost:15148/album_y261f5d9b48664ce1ba596d579b0a043e_s17.html" title="更多...">更多...</a>
        </div>
      </div>
      <div class="videolist videolist-heng body clearfix">
        <ul>
          <li>
            <div class="vediodiv">
              <a href="http://localhost:15148/albumview_b8fa962a73304c87a50896961d8c9990.html" title="家校沟通会记实录" target="_blank"><img src="http://localhost:15148/CSS/zh-CN/DefaultTheme/DefaultImg.png" title="家校沟通会记实录" onerror="try{this.src=&quot;http://localhost:15148/CSS/zh-CN/DefaultTheme/DefaultImg.png&quot;}catch(ex){};" style="width: 140px; height: 88px;"></a>
            </div>
            <div class="description">
              <p class="colr2 ttle">
                <a href="http://localhost:15148/albumview_b8fa962a73304c87a50896961d8c9990.html" title="家校沟通会记实录" target="_blank">家校沟通会记实录</a>
              </p>
              <p class="viewcounts">
                <a href="http://localhost:15148/show/GZ_jiaoyanyuan.html" title="教育视频网">教研员</a>
              </p>
              <p class="author">
                <a href="http://192.168.2.29:9091" title="教育视频网" target="_blank">教育视频网</a>
              </p>
            </div>
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
        </ul>
      </div>
      <div class="clearFloat"></div>
    </div>
  </div><!-- /span -->
</div>
<div class="row">
  <div class="span10">
    <div class="box mbox">
      <div class="head">
        <div class="title">
          <a href="http://localhost:15148/album_y913d4c0fd8e84fd08d2f7b1598cb6bdf_s10.html" title="互动课堂重温" class="blue">互动课堂重温</a>
        </div>
        <div class="more">
          <a href="http://localhost:15148/album_y913d4c0fd8e84fd08d2f7b1598cb6bdf_s10.html" title="更多..." class="blue">更多...</a>
        </div>
      </div>
      <div class="videolist videolist-heng body clearfix">
        <ul>
          <li>
            <div class="vediodiv">
              <a href="http://localhost:15148/albumview_a7ad33f29cf746a9ac14da94c88cc489.html" title="2013年区教研讨论互动活动回顾" target="_blank"><img src="http://192.168.2.29:9090/Upload/Album/S130916160818000-00130.jpg" title="2013年区教研讨论互动活动回顾" onerror="try{this.src=&quot;http://localhost:15148/CSS/zh-CN/DefaultTheme/DefaultImg.png&quot;}catch(ex){};" style="width: 214px; height: 120px;"></a>
            </div>
            <div class="clear"></div>
            <p class="ttle">
              <a href="http://localhost:15148/albumview_a7ad33f29cf746a9ac14da94c88cc489.html" title="2013年区教研讨论互动活动回顾" target="_blank">2013年区教研讨论互动活动回顾</a>
            </p>
            <p class="viewcounts">
              <a href="http://localhost:15148/show/GZ_jiaoyanyuan.html" title="教育视频网">教研员</a>
            </p>
            <p class="author">
              教育视频网
            </p>
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
        </ul>
      </div>
      <div class="clearFloat"></div>
    </div>
  </div><!-- /span16 -->
  <div class="span6">
    <div class="box mbox">
      <div class="head">
        <div class="title">
          <a href="http://localhost:15148/album_y913d4c0fd8e84fd08d2f7b1598cb6bdf_s17.html" title="热门播放" class="blue">热门播放</a>
        </div>
        <div class="more">
          <a href="http://localhost:15148/album_y913d4c0fd8e84fd08d2f7b1598cb6bdf_s17.html" title="更多...">更多...</a>
        </div>
      </div>
      <div class="videolist videolist-heng body clearfix">
        <ul>
          <li>
            <div class="vediodiv">
              <a href="http://localhost:15148/albumview_a7ad33f29cf746a9ac14da94c88cc489.html" title="2013年区教研讨论互动活动回顾" target="_blank"><img src="http://192.168.2.29:9090/Upload/Album/S130916160818000-00130.jpg" title="2013年区教研讨论互动活动回顾" onerror="try{this.src=&quot;http://localhost:15148/CSS/zh-CN/DefaultTheme/DefaultImg.png&quot;}catch(ex){};" style="width: 140px; height: 88px;"></a>
            </div>
            <div class="description">
              <p class="colr2 ttle">
                <a href="http://localhost:15148/albumview_a7ad33f29cf746a9ac14da94c88cc489.html" title="2013年区教研讨论互动活动回顾" target="_blank">2013年区教研讨论互动活动回顾</a>
              </p>
              <p class="viewcounts">
                <a href="http://localhost:15148/show/GZ_jiaoyanyuan.html" title="教育视频网">教研员</a>
              </p>
              <p class="author">
                <a href="http://192.168.2.29:9091" title="教育视频网" target="_blank">教育视频网</a>
              </p>
            </div>
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
        </ul>
      </div>
      <div class="clearFloat"></div>
    </div>
  </div><!-- /span -->
</div>
<div class="row">
  <div class="span10">
    <div class="box mbox">
      <div class="head">
        <div class="title">
          <a href="http://localhost:15148/album_ye2be2218fee349e8abb666d20b29353a_s10.html" title="学校优质课例" class="blue">学校优质课例</a>
        </div>
        <div class="more">
          <a href="http://localhost:15148/album_ye2be2218fee349e8abb666d20b29353a_s10.html" title="更多..." class="blue">更多...</a>
        </div>
      </div>
      <div class="videolist videolist-heng body clearfix">
        <ul>
          <li>
            <div class="vediodiv">
              <a href="http://localhost:15148/albumview_09cab8fec0fa4a6e85dd83457e0b2d54.html" title="七年级英语上册——MissLi" target="_blank"><img src="http://192.168.2.29:9090/Upload/Album/S130916161012000-00994.jpg" title="七年级英语上册——MissLi" onerror="try{this.src=&quot;http://localhost:15148/CSS/zh-CN/DefaultTheme/DefaultImg.png&quot;}catch(ex){};" style="width: 214px; height: 120px;"></a>
            </div>
            <div class="clear"></div>
            <p class="ttle">
              <a href="http://localhost:15148/albumview_09cab8fec0fa4a6e85dd83457e0b2d54.html" title="七年级英语上册——MissLi" target="_blank">七年级英语上册——MissLi</a>
            </p>
            <p class="viewcounts">
              <a href="http://localhost:15148/show/GZ_jingling.html" title="教育视频网">老师</a>
            </p>
            <p class="author">
              教育视频网
            </p>
          </li>
          <li>
            <div class="vediodiv">
              <a href="http://localhost:15148/albumview_fd7a17838e134f0389908d1a1c865ce7.html" title="小学二年级数学精品课" target="_blank"><img src="http://192.168.2.29:9090/Upload/Album/S130916160239000-00101.jpg" title="小学二年级数学精品课" onerror="try{this.src=&quot;http://localhost:15148/CSS/zh-CN/DefaultTheme/DefaultImg.png&quot;}catch(ex){};" style="width: 214px; height: 120px;"></a>
            </div>
            <div class="clear"></div>
            <p class="ttle">
              <a href="http://localhost:15148/albumview_fd7a17838e134f0389908d1a1c865ce7.html" title="小学二年级数学精品课" target="_blank">小学二年级数学精品课</a>
            </p>
            <p class="viewcounts">
              <a href="http://localhost:15148/show/GZ_jingling.html" title="教育视频网">老师</a>
            </p>
            <p class="author">
              教育视频网
            </p>
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
        </ul>
      </div>
      <div class="clearFloat"></div>
    </div>
  </div><!-- /span16 -->
  <div class="span6">
    <div class="box mbox">
      <div class="head">
        <div class="title">
          <a href="http://localhost:15148/album_ye2be2218fee349e8abb666d20b29353a_s17.html" title="热门播放" class="blue">热门播放</a>
        </div>
        <div class="more">
          <a href="http://localhost:15148/album_ye2be2218fee349e8abb666d20b29353a_s17.html" title="更多...">更多...</a>
        </div>
      </div>
      <div class="videolist videolist-heng body clearfix">
        <ul>
          <li>
            <div class="vediodiv">
              <a href="http://localhost:15148/albumview_fd7a17838e134f0389908d1a1c865ce7.html" title="小学二年级数学精品课" target="_blank"><img src="http://192.168.2.29:9090/Upload/Album/S130916160239000-00101.jpg" title="小学二年级数学精品课" onerror="try{this.src=&quot;http://localhost:15148/CSS/zh-CN/DefaultTheme/DefaultImg.png&quot;}catch(ex){};" style="width: 140px; height: 88px;"></a>
            </div>
            <div class="description">
              <p class="colr2 ttle">
                <a href="http://localhost:15148/albumview_fd7a17838e134f0389908d1a1c865ce7.html" title="小学二年级数学精品课" target="_blank">小学二年级数学精品课</a>
              </p>
              <p class="viewcounts">
                <a href="http://localhost:15148/show/GZ_jingling.html" title="教育视频网">老师</a>
              </p>
              <p class="author">
                <a href="http://192.168.2.29:9091" title="教育视频网" target="_blank">教育视频网</a>
              </p>
            </div>
          </li>
          <li>
            <div class="vediodiv">
              <a href="http://localhost:15148/albumview_09cab8fec0fa4a6e85dd83457e0b2d54.html" title="七年级英语上册——MissLi" target="_blank"><img src="http://192.168.2.29:9090/Upload/Album/S130916161012000-00994.jpg" title="七年级英语上册——MissLi" onerror="try{this.src=&quot;http://localhost:15148/CSS/zh-CN/DefaultTheme/DefaultImg.png&quot;}catch(ex){};" style="width: 140px; height: 88px;"></a>
            </div>
            <div class="description">
              <p class="colr2 ttle">
                <a href="http://localhost:15148/albumview_09cab8fec0fa4a6e85dd83457e0b2d54.html" title="七年级英语上册——MissLi" target="_blank">七年级英语上册——MissLi</a>
              </p>
              <p class="viewcounts">
                <a href="http://localhost:15148/show/GZ_jingling.html" title="教育视频网">老师</a>
              </p>
              <p class="author">
                <a href="http://192.168.2.29:9091" title="教育视频网" target="_blank">教育视频网</a>
              </p>
            </div>
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
          <li class="left_fix">&nbsp;
          </li>
        </ul>
      </div>
      <div class="clearFloat"></div>
    </div>
  </div><!-- /span -->
</div>
