
<div class="row">
    <div class="span16">
        <div class="breadcrumb">
            <span class="icon"></span>


            <span>
                <a href="http://localhost:15148/index.html" title="首页">首页</a>

                &gt;
                								
            </span>

            <span class="active">
                <a title="专辑资源">专辑资源</a>

            </span>

        </div>
    </div>
    <!-- /span16 -->
</div>
<!-- /row -->
<div class="row">
    <div class="span4">
        <div style="" class="">

            <div class="box ">
                <div class="head">
                    <div class="title">
                        学科
                						
                    </div>
                </div>
                <div class="body control_panel">


                    <ul class="nav nav-list">

                        <li class="active"><a href="http://localhost:15148/album.html" title="全部">全部</a>
                            <ul class="nav nav-list nav-collapse" id="nav-collapse">

                                <li class="">
                                    <a href="http://localhost:15148/album_cabc123.html" title="文科">文科</a>
                                    <ul class="nav nav-list">


                                        <li class="">
                                            <a href="http://localhost:15148/album_c175087.html" title="语文">语文</a>
                                        </li>

                                        <li class="">
                                            <a href="http://localhost:15148/album_c441aaa.html" title="英语">英语</a>
                                        </li>

                                        <li class="">
                                            <a href="http://localhost:15148/album_c92365f.html" title="政治 ">政治 </a>
                                        </li>

                                        <li class="">
                                            <a href="http://localhost:15148/album_c7fbd9c.html" title="历史&nbsp;">历史&nbsp;</a>
                                        </li>

                                        <li class="">
                                            <a href="http://localhost:15148/album_ca1d7dc.html" title="品德与社会&nbsp;">品德与社会&nbsp;</a>
                                        </li>

                                    </ul>
                                </li>

                                <li class="">
                                    <a href="http://localhost:15148/album_c746afb.html" title="理科">理科</a>
                                    <ul class="nav nav-list">


                                        <li class="">
                                            <a href="http://localhost:15148/album_c7f7632.html" title="地理">地理</a>
                                        </li>

                                        <li class="">
                                            <a href="http://localhost:15148/album_c117b57.html" title="科学">科学</a>
                                        </li>

                                        <li class="">
                                            <a href="http://localhost:15148/album_c8aa428.html" title="信息技术">信息技术</a>
                                        </li>

                                        <li class="">
                                            <a href="http://localhost:15148/album_c0d75e3.html" title="数学">数学</a>
                                        </li>

                                        <li class="">
                                            <a href="http://localhost:15148/album_cabde0c.html" title="生物">生物</a>
                                        </li>

                                        <li class="">
                                            <a href="http://localhost:15148/album_c0cdfb2.html" title="物理">物理</a>
                                        </li>

                                        <li class="">
                                            <a href="http://localhost:15148/album_c1488d6.html" title="化学">化学</a>
                                        </li>

                                    </ul>
                                </li>

                                <li class="">
                                    <a href="http://localhost:15148/album_ca957a3.html" title="其他">其他</a>
                                    <ul class="nav nav-list">


                                        <li class="">
                                            <a href="http://localhost:15148/album_c83ec9d.html" title="音乐">音乐</a>
                                        </li>

                                        <li class="">
                                            <a href="http://localhost:15148/album_c2790ba.html" title="美术">美术</a>
                                        </li>

                                        <li class="">
                                            <a href="http://localhost:15148/album_cbcbb1f.html" title="体育">体育</a>
                                        </li>

                                    </ul>
                                </li>

                            </ul>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </div>
    <div class="span12">

        <div class="searchBox">

            <ul class="nav nav-pills">
                <li class="nav-header">课程分类</li>
                <li class="active">
                    <a href="http://localhost:15148/album.html" title="全部">全部</a>
                </li>

                <li class="">
                    <a href="http://localhost:15148/album_o42618e.html" title="互动教学">互动教学</a>
                </li>

                <li class="">
                    <a href="http://localhost:15148/album_o269f5e.html" title="网络教研">网络教研</a>
                </li>

            </ul>




            <ul class="nav nav-pills">
                <li class="nav-header">课程级别</li>
                <li class="active">
                    <a href="http://localhost:15148/album.html" title="全部">全部</a>
                </li>

                <li class="">
                    <a href="http://localhost:15148/album_y2416260730eb4ae0a7fc6d6d8cd25c02.html" title="专家讲座">专家讲座</a>
                </li>

                <li class="">
                    <a href="http://localhost:15148/album_y9bbb656dcbf04062b2494d675d687e57.html" title="名优教师课例">名优教师课例</a>
                </li>

                <li class="">
                    <a href="http://localhost:15148/album_y261f5d9b48664ce1ba596d579b0a043e.html" title="家长学堂">家长学堂</a>
                </li>

                <li class="">
                    <a href="http://localhost:15148/album_y913d4c0fd8e84fd08d2f7b1598cb6bdf.html" title="互动课堂重温">互动课堂重温</a>
                </li>

                <li class="">
                    <a href="http://localhost:15148/album_ye2be2218fee349e8abb666d20b29353a.html" title="学校优质课例">学校优质课例</a>
                </li>

            </ul>





            <ul class="nav nav-tabs tabs">

                <li class="active">
                    <a href="http://localhost:15148/album_s0.html" title="最新发布">最新发布</a>
                </li>

                <li>
                    <a href="http://localhost:15148/album_s7.html" title="热度排行">热度排行</a>
                </li>

                <li>
                    <a href="http://localhost:15148/album_s8.html" title="关注排行">关注排行</a>
                </li>

            </ul>
            <div style="float: right;">
                <a href="#list" title="表格" onclick="return false;">
                    <img src="http://localhost:15148/css/zh-CN/Suqian/img/Sort0On.jpg"></a>
                <a href="http://localhost:15148/album_x1.html" title="列表">
                    <img src="http://localhost:15148/css/zh-CN/Suqian/img/Sort1.jpg"></a>

            </div>

            <div class="tab-content ">
                <div id="hot" class="tab-pane active">
                    <div id="SearchList" class="videolist clearfix">

                        <ul>

                            <li>
                                <div class="vediodiv">
                                    <a href="http://localhost:15148/albumview_7a0be5b4c16c4d4c85365b2fb26800fa.html" title="绘画技巧" target="_blank">
                                        <img src="css/img/DefaultImg.png
{{ page.base_url }}dist/img/DefaultImg.png" title="绘画技巧"  style="width: 214px; height: 120px;"></a>
                                </div>
                                <div class="clear"></div>
                                <p class="ttle">
                                    <a href="http://localhost:15148/albumview_7a0be5b4c16c4d4c85365b2fb26800fa.html" title="绘画技巧" target="_blank">绘画技巧</a>
                                </p>
                                <p class="viewcounts">
                                    <a href="http://localhost:15148/show/GZ_jiaoyanyuan.html" title="教育视频网">教研员</a>
                                </p>

                                <p>
                                    <a href="http://192.168.2.29:9090" title="教育视频网" target="_blank">教育视频网</a>
                                </p>
                            </li>

                            <li>
                                <div class="vediodiv">
                                    <a href="http://localhost:15148/albumview_91222eb0ce7741268da5af78296c709a.html" title="高速发展的信息技术" target="_blank">
                                        <img src="css/img/DefaultImg.png
{{ page.base_url }}dist/img/DefaultImg.png" title="高速发展的信息技术"  style="width: 214px; height: 120px;"></a>
                                </div>
                                <div class="clear"></div>
                                <p class="ttle">
                                    <a href="http://localhost:15148/albumview_91222eb0ce7741268da5af78296c709a.html" title="高速发展的信息技术" target="_blank">高速发展的信息技术</a>
                                </p>
                                <p class="viewcounts">
                                    <a href="http://localhost:15148/show/GZ_jiaoyanyuan.html" title="教育视频网">教研员</a>
                                </p>

                                <p>
                                    <a href="http://192.168.2.29:9090" title="教育视频网" target="_blank">教育视频网</a>
                                </p>
                            </li>

                            <li>
                                <div class="vediodiv">
                                    <a href="http://localhost:15148/albumview_09cab8fec0fa4a6e85dd83457e0b2d54.html" title="七年级英语上册——MissLi" target="_blank">
                                        <img src="css/img/DefaultImg.png
{{ page.base_url }}dist/img/DefaultImg.png" title="七年级英语上册——MissLi"  style="width: 214px; height: 120px;"></a>
                                </div>
                                <div class="clear"></div>
                                <p class="ttle">
                                    <a href="http://localhost:15148/albumview_09cab8fec0fa4a6e85dd83457e0b2d54.html" title="七年级英语上册——MissLi" target="_blank">七年级英语上册——MissLi</a>
                                </p>
                                <p class="viewcounts">
                                    <a href="http://localhost:15148/show/GZ_jingling.html" title="教育视频网">老师</a>
                                </p>

                                <p>
                                    <a href="http://192.168.2.29:9090" title="教育视频网" target="_blank">教育视频网</a>
                                </p>
                            </li>

                            <li>
                                <div class="vediodiv">
                                    <a href="http://localhost:15148/albumview_a7ad33f29cf746a9ac14da94c88cc489.html" title="2013年区教研讨论互动活动回顾" target="_blank">
                                        <img src="css/img/DefaultImg.png
{{ page.base_url }}dist/img/DefaultImg.png" title="2013年区教研讨论互动活动回顾"  style="width: 214px; height: 120px;"></a>
                                </div>
                                <div class="clear"></div>
                                <p class="ttle">
                                    <a href="http://localhost:15148/albumview_a7ad33f29cf746a9ac14da94c88cc489.html" title="2013年区教研讨论互动活动回顾" target="_blank">2013年区教研讨论互动活动回顾</a>
                                </p>
                                <p class="viewcounts">
                                    <a href="http://localhost:15148/show/GZ_jiaoyanyuan.html" title="教育视频网">教研员</a>
                                </p>

                                <p>
                                    <a href="http://192.168.2.29:9090" title="教育视频网" target="_blank">教育视频网</a>
                                </p>
                            </li>

                            <li>
                                <div class="vediodiv">
                                    <a href="http://localhost:15148/albumview_b8fa962a73304c87a50896961d8c9990.html" title="家校沟通会记实录" target="_blank">
                                        <img src="css/img/DefaultImg.png
{{ page.base_url }}dist/img/DefaultImg.png" title="家校沟通会记实录"  style="width: 214px; height: 120px;"></a>
                                </div>
                                <div class="clear"></div>
                                <p class="ttle">
                                    <a href="http://localhost:15148/albumview_b8fa962a73304c87a50896961d8c9990.html" title="家校沟通会记实录" target="_blank">家校沟通会记实录</a>
                                </p>
                                <p class="viewcounts">
                                    <a href="http://localhost:15148/show/GZ_jiaoyanyuan.html" title="教育视频网">教研员</a>
                                </p>

                                <p>
                                    <a href="http://192.168.2.29:9090" title="教育视频网" target="_blank">教育视频网</a>
                                </p>
                            </li>

                            <li>
                                <div class="vediodiv">
                                    <a href="http://localhost:15148/albumview_b9605448b3fd4056b7e392dd7985b6ff.html" title="各科目中考重点解答集" target="_blank">
                                        <img src="css/img/DefaultImg.png
{{ page.base_url }}dist/img/DefaultImg.png" title="各科目中考重点解答集"  style="width: 214px; height: 120px;"></a>
                                </div>
                                <div class="clear"></div>
                                <p class="ttle">
                                    <a href="http://localhost:15148/albumview_b9605448b3fd4056b7e392dd7985b6ff.html" title="各科目中考重点解答集" target="_blank">各科目中考重点解答集</a>
                                </p>
                                <p class="viewcounts">
                                    <a href="http://localhost:15148/show/GZ_jingling.html" title="教育视频网">老师</a>
                                </p>

                                <p>
                                    <a href="http://192.168.2.29:9090" title="教育视频网" target="_blank">教育视频网</a>
                                </p>
                            </li>

                            <li>
                                <div class="vediodiv">
                                    <a href="http://localhost:15148/albumview_04419fe3c1bc4aee9e33e81dfc1bdf71.html" title="学习拼音" target="_blank">
                                        <img src="css/img/DefaultImg.png
{{ page.base_url }}dist/img/DefaultImg.png" title="学习拼音"  style="width: 214px; height: 120px;"></a>
                                </div>
                                <div class="clear"></div>
                                <p class="ttle">
                                    <a href="http://localhost:15148/albumview_04419fe3c1bc4aee9e33e81dfc1bdf71.html" title="学习拼音" target="_blank">学习拼音</a>
                                </p>
                                <p class="viewcounts">
                                    <a href="http://localhost:15148/show/GZ_jingling.html" title="教育视频网">老师</a>
                                </p>

                                <p>
                                    <a href="http://192.168.2.29:9090" title="教育视频网" target="_blank">教育视频网</a>
                                </p>
                            </li>

                            <li>
                                <div class="vediodiv">
                                    <a href="http://localhost:15148/albumview_fd7a17838e134f0389908d1a1c865ce7.html" title="小学二年级数学精品课" target="_blank">
                                        <img src="css/img/DefaultImg.png
{{ page.base_url }}dist/img/DefaultImg.png" title="小学二年级数学精品课"  style="width: 214px; height: 120px;"></a>
                                </div>
                                <div class="clear"></div>
                                <p class="ttle">
                                    <a href="http://localhost:15148/albumview_fd7a17838e134f0389908d1a1c865ce7.html" title="小学二年级数学精品课" target="_blank">小学二年级数学精品课</a>
                                </p>
                                <p class="viewcounts">
                                    <a href="http://localhost:15148/show/GZ_jingling.html" title="教育视频网">老师</a>
                                </p>

                                <p>
                                    <a href="http://192.168.2.29:9090" title="教育视频网" target="_blank">教育视频网</a>
                                </p>
                            </li>

                        </ul>
                        <div class="pagination">
                            <ul>

                                <li class="active">
                                    <a href="#SearchList" title="首页">首页</a></li>

                                <li class="active">
                                    <a href="#SearchList" title="上页">上页</a>
                                </li>

                                <li class="active">
                                    <a href="#SearchList" title="1">1</a></li>

                                <li class="active">
                                    <a href="#SearchList" title="下页">下页</a></li>

                                <li class="active">
                                    <a href="#SearchList" title="末页">末页</a></li>

                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

