<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

{% javascript vendor/jquery.1.9 %}
{% javascript bootstrap %}

{% javascript vendor/doc-assets/holder %}
{% javascript vendor/doc-assets/application %}




{% if page.slug == "customize" %}

{% javascript vendor/doc-assets/less %}
{% javascript vendor/doc-assets/jszip %}
{% javascript vendor/doc-assets/uglify %}
{% javascript vendor/doc-assets/filesaver %}
{% javascript vendor/doc-assets/raw-files %}
{% javascript vendor/doc-assets/customizer %}

{% endif %}
<!-- Analytics
================================================== -->
<script>
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4f0dc9fef5a1f55508000013');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
