<footer>

    <div id="footer">


        <div id="Header_Sidebar">



            <div id="sideway" class="sideway">
                <ul class="nav nav-tabs nav-stacked">

                    <li><a id="totop" style="display: none;">^ 滚动到顶部 ^</a></li>
                </ul>

            </div>
            <script>
                $(document).ready(function () {
                    Limit.setup();
                });

            </script>


        </div>


        <p class="Copyright" style="padding-top: 5px;">
            Copyright © 2005-2012 广州市奥威亚电子科技有限公司 <a target="_blank" href="http://www.ava.com.cn">www.ava.com.cn</a>
        </p>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="{{ page.base_url }}dist/js/bootstrap.js"></script>
<script src="{{ page.base_url }}dist/js/boilerplate.js"></script>






